button {
  &.my-button {
    -webkit-box-shadow: 1px 1px 2px #444444cc;
            box-shadow: 1px 1px 2px #444444cc;
    margin: 0;
    padding: 4px 0.5em;
    border-radius: 4px;
    background-color: #87bd4d;
    
    & svg {
      width: 1.2em;
      height: 1.2em;
      vertical-align: bottom;
      padding-left: 5px;
      fill: white;
    }    

    &:hover {
      cursor: pointer;
    }
    
    &:focus svg,
    &:hover svg {
      fill: black;
    }
  }
}
